{% comment %}
The code below relies on the advanced-tag-loop snippet.
The snippet is already included in snippets/breadrumbs.liquid
because it is needed there too, but if you remove
breadcrumbs you need to include this:

{% include 'advanced-tag-loop' %}
{% endcomment %}

{% comment %} ----- Sidebar linklist 1 ----- {% endcomment %}
{% if settings.show_widget_linklist1 %}
{% assign list_temp = settings.widget_linklist1 %}
{% if linklists[list_temp] != empty %}
{% assign list = linklists[list_temp] %}
<div class="item-box-attr 111111111">

  {% if list.title != blank %}
 <div class="item-attr-title ">
    <span>{{ list.title | escape }}</span>
  </div>
  {% endif %}
  <div class="item-attr-content category-product">
    <ul >
      {% for link in list.links %}
      {% if linklists[child_list_handle].links != blank %}
      <li class="advanced-filter site-nav--has-dropdown{% if link.active %} active{% endif %}" aria-haspopup="true">
        <a href="{{ link.url }}">
          {{ link.title }}
          <span class="icon-fallback-text">
            <span class="icon icon-arrow-down" aria-hidden="true"></span>
          </span>
        </a>
        <ul class="site-nav--dropdown">
          {% for childlink in linklists[child_list_handle].links %}
          <li {% if childlink.active %}class="active"{% endif %}><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
          {% endfor %}
        </ul>
      </li>
      {% else %}
      <li class="advanced-filter {% if link.active %}active{% endif %}">
        <a href="{{ link.url }}">{{ link.title }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>  
</div>
{% endif %}
{% endif %}
                         



{% if settings.sidebar_type_enable and shop.types.size > 0 %}
<div class="item-box-attr 22222222222">
  <div class="item-attr-title ">
    <span>{{ 'collections.sidebar.shop_by_type' | t }}</span>
  </div>
  <div class="item-attr-content">  
    <ul class="sidebar-module__list category-product">
      {% for type in shop.types %}
      <li class="{% if forloop.index > 8 %} sidebar-module__hidden-item{% endif %} {% if collection.current_type == type %} active{% endif %}"><a href="{{ type | url_for_type }}">{{ type }}</a></li>
      {% if forloop.index > 8 %}
      {% assign viewmoreTypes = true %}
      {% endif %}
      {% endfor %}
      
    </ul>

    {% if viewmoreTypes %}
    <button class="text-link sidebar-module__viewmore">
      <span class="sidebar-module__expand">{{ 'collections.sidebar.view_more' | t }}</span>
      <span class="sidebar-module__collapse">{{ 'collections.sidebar.view_less' | t }}</span>
    </button>
    {% endif %}
  </div>   
</div>
{% endif %}

{% if settings.sidebar_vendor_enable and shop.vendors.size > 0 %}
<div class="item-box-attr 333333333333">
  <div class="item-attr-title ">
    {{ 'collections.sidebar.shop_by_vendor' | t }}
  </div>
  <div class="item-attr-content">    
    <ul class="sidebar-module__list category-product">
      {% for vendor in shop.vendors %}
      <li class="{% if forloop.index > 8 %}sidebar-module__hidden-item{% endif %} {% if collection.current_vendor == vendor %} active {% endif %}"><a href="{{ vendor | url_for_vendor }}">{{ vendor }}</a></li>

      {% if forloop.index > 8 %}
      {% assign viewmoreVendors = true %}
      {% endif %}
      {% endfor %}
    </ul>

    {% if viewmoreVendors %}
    <button class="text-link sidebar-module__viewmore">
      <span class="sidebar-module__expand">{{ 'collections.sidebar.view_more' | t }}</span>
      <span class="sidebar-module__collapse">{{ 'collections.sidebar.view_less' | t }}</span>
    </button>
    {% endif %}
  </div>
</div>  
{% endif %}


{% if settings.collection_sidebar_filters == 'groups' %}
  {% if collection.all_tags.size > 0 %}


  {% comment %}
  Loop through tag categories
  {% endcomment %}
  {% for cat_item in cat_array %}
  <div class="item-box-attr 4444444444">
    <div class="item-attr-title ">{{ cat_item }}</div>
    <div class="item-attr-content">  
      <ul class="advanced-filters attr-brand list-inline">
        {% comment %}
        Loop through collection tags
        {% endcomment %}
        {% for tag in collection.all_tags %}
        {% assign cat = tag | split: '_' | first %}              
        {% if cat != tag and cat_item == cat %}
        {% comment %}
        Strip out tag category prefix and add/remove link for tag filtering
        {% endcomment %}
        {% if current_tags contains tag %}
        <li class="advanced-filter active-filter " data-group="{{ cat_item }}" data-handle="{{ tag | handle }}">{{ tag | remove_first: cat_item | remove_first: '_' | link_to_remove_tag: tag }}</li>
        {% else %}
        <li class="advanced-filter" data-group="{{ cat_item }}" data-handle="{{ tag | handle }}">{{ tag | remove_first: cat_item | remove_first: '_' | link_to_add_tag: tag }}</li>
        {% endif %}
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}


  <script>
    $(function() {
      var filters = $('.advanced-filter'),
          el,
          elGroup,
          elHandle,
          activeTagInGroup;

      filters.on('click', function(e) {
        el = $(this);
        elGroup = el.data('group');
        elHandle = el.data('handle');
        activeTagInGroup = $('.active-filter[data-group="'+ elGroup +'"]');
        // If the tag clicked is not already active and its group contains an active tag, we will swap tag within the group.
        if ( !el.hasClass('active-filter')  && activeTagInGroup.size() ) {
          e.preventDefault();
          location.href = location.href.replace(activeTagInGroup.data('handle'), elHandle);
        }
      });
    });
  </script>

  {% endif %}
  {% else %}
  <div class="item-box-attr 5555555555555">
  <div class="item-attr-title ">{{ 'collections.sidebar.shop_by' | t }}</div>
  {% if template contains 'collection' and collection.all_tags.size > 0 %}

  {% comment %}
  Provide a 'catch-all' link at the top of the list,
  we'd check against the collection.handle, product type, and vendor.
  {% endcomment %}
  <ul>
    {% if current_tags %}
    <li class="active-filter">
      {% comment %}
      Good for /collections/all collection and regular collections
      {% endcomment %}
      {% if collection.handle %}
      <a href="/collections/{{ collection.handle }}">
        {{ 'collections.sidebar.all' | t }}
        {% unless collection.title == 'Products' %}
        {{ collection.title }}
        {% endunless %}
      </a>

      {% comment %}
      Good for automatic type collections
      {% endcomment %}
      {% elsif collection.current_type %}
      <a href="{{ collection.current_type | url_for_type }}">{{ 'collections.sidebar.all_collection' | t: collection_title: collection.title }}</a>

      {% comment %}
      Good for automatic vendor collections
      {% endcomment %}
      {% elsif collection.current_vendor %}
      <a href="{{ collection.current_vendor | url_for_vendor }}">{{ 'collections.sidebar.all_collection' | t: collection_title: collection.title }}</a>
      {% endif %}
    </li>
    {% endif %}

    {% comment %}
    And for the good stuff, loop through the tags themselves.
    Strip the prepended categories if they happen to exist.
    {% endcomment %}
    {% for tag in collection.all_tags %}
    {% assign is_advanced_tag = false %}
    {% assign cat = tag | split: '_' | first %}
    {% unless cat == tag %}
    {% if cat_array contains cat %}
    {% assign is_advanced_tag = true %}
    {% if current_tags contains tag %}
    <li class="active-filter">{{ tag | remove_first: cat | remove_first: '_' }}</li>
    {% else %}
    <li>{{ tag | remove_first: cat | remove_first: '_' | link_to_tag: tag }}</li>
    {% endif %}
    {% endif %}
    {% endunless %}

    {% if is_advanced_tag == false %}
    {% if current_tags contains tag %}
    <li class="active-filter">{{ tag }}</li>
    {% else %}
    <li>{{ tag | link_to_tag: tag }}</li>
    {% endif %}
    {% endif %}
    {% endfor %}

  </ul>

  {% else %}
  <p>{{ 'collections.sidebar.no_tags' | t }}</p>
  {% endif %}
  </div>  
{% endif %}



