{% comment %}
  Toggle between collection.liquid and collection.list.liquid with the
  ?view= parameter.
{% endcomment %}

<ul class="collection-view product-sort pull-left list-inline">
  <li><a  title="Grid view" class="grid active change-view{% unless template contains 'list' %} collection-view--active{% endunless %}" data-view="grid"> {{ 'collections.general.grid' | t }}</a></li>
  <li>
    <a title="List view" class="list change-view{% if template contains 'list' %} collection-view--active{% endif %}" data-view="list">
    {{ 'collections.general.list' | t }}
  </a></li>
</ul>
<script>
  function replaceUrlParam(url, paramName, paramValue) {
    var pattern = new RegExp('('+paramName+'=).*?(&|$)'),
        newUrl = url.replace(pattern,'$1' + paramValue + '$2');
    if ( newUrl == url ) {
      newUrl = newUrl + (newUrl.indexOf('?')>0 ? '&' : '?') + paramName + '=' + paramValue;
    }
    return newUrl;
  }

  $(function() {
    $( document ).delegate('.change-view', 'click', function() {
      var view = $(this).data('view'),
          url = document.URL,
          hasParams = url.indexOf('?') > -1;

      if (hasParams) {
        window.location = replaceUrlParam(url, 'view', view);
      } else {
        window.location = url + '?view=' + view;
      }
    });
  });
</script>

<div class="collection-view">
  <button type="button" title="{{ 'collections.general.grid' | t }}" class="change-view{% unless template contains 'list' %} change-view--active{% endunless %}" data-view="grid">
    <span class="icon-fallback-text">
      <span class="icon icon-grid-view" aria-hidden="true"></span>
      <span class="fallback-text">{{ 'collections.general.grid' | t }}</span>
    </span>
  </button>
  <button type="button" title="{{ 'collections.general.list' | t }}" class="change-view{% if template contains 'list' %} change-view--active{% endif %}" data-view="list">
    <span class="icon-fallback-text">
      <span class="icon icon-list-view" aria-hidden="true"></span>
      <span class="fallback-text">{{ 'collections.general.list' | t }}</span>
    </span>
  </button>
</div>