<div class="top-header">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-7">
				<div class="top-left">
					<div class="language-box">
						<a href="#" class="language-link">En</a>
						<div class="language-inner-box item-box-sub">
							<ul>
								<li><a href="#">English</a></li>
								<li><a href="#">France</a></li>
								<li><a href="#">Germany</a></li>
								<li><a href="#">Italia</a></li>
							</ul>
						</div>
					</div>
					<div class="currency-box">
						<a href="#" class="currency-link">{{ 'layout.header.currency' | t }} {{ settings.default_currency }} </a>
							<div class="currency-inner-box item-box-sub">
								 <!-- <ul class="list-inline pull-right"> -->
					        {% if settings.show_multiple_currencies %}
					          <!-- <li> -->
					            {% include 'currency-picker' %}
					          <!-- </li> -->
					        {% endif %}
					   
					      </ul>
				      </div><!-- currency-inner-box item-box-sub -->
					</div><!-- currency-box -->
				</div>
			</div>
			<div class="col-md-8 col-sm-8 col-xs-5">
				<div class="top-right">
					<ul class="list-inline">
						<li class="info-user">


							{% if shop.customer_accounts_enabled %}
			          {% if customer %}
			            <ul class="dropdownMenu subrtl">
			              <li>
			                <a class="top-header__menu-title account-link" href="/account" data-toggle="tooltip" title="{{ first_name.first_name }} " >
			                  <span class="lnr lnr-user"></span> {{ 'layout.customer.my_account' | t }}
			                </a>
			                <ul class="hidden-xs inner-user-info">
			                  {% capture first_name %}<li><a href="/account">{{ customer.first_name }}</a></li>{% endcapture %}
			                  <li class="customer-navlink"><a href="/account">{{ 'layout.customer.view_account' | t }}</a></li>
			                  <li>{{ 'layout.customer.log_out' | t | customer_logout_link }}</li>
			                </ul>
			              </li>
			            </ul>
			          {% else %}
			            <ul class="dropdownMenu pull-right subrtl ">
			              <li> 
			              	<a href="/account/login" class="top-header__menu-title account-link">
			                <span class="lnr lnr-user"></span> {{ 'layout.customer.my_account' | t }}
			              </a>
			              <ul class="hidden-xs inner-user-info">
			                <li><span class="lnr lnr-lock"></span>{{ 'layout.customer.sign_in' | t | customer_login_link }}</li>
			                {% if shop.customer_accounts_optional %}
			                <li><span class="lnr lnr-lock"></span>{{ 'layout.customer.create_account' | t | customer_register_link }}</li>
			                {% endif %}
			                <li><a href="#"><span class="lnr lnr-heart"></span> Wishlist</a></li>
											<li><a href="#"><span class="lnr lnr-sync"></span> Compare</a></li>
											<li><a href="#"><span class="lnr lnr-exit"></span> Checkout</a></li>
			              </ul>
			            </li>
			          </ul>
			        {% endif %}
			      {% endif %}

						</li>
						<li><a href="#" class="top-header__menu-title wishlist-link"><span class="lnr lnr-heart"></span> wishlist</a></li>
						{% if settings.show_header_cart %}
						<li class="info-cart">
		            <a href="#" class="top-header__menu-title mycart-link ">
		            	<span class="lnr-cart"></span> {{ 'cart.general.mycart' | t }}  <span class="number-cart-total cart-count {% if cart.item_count == 0 %}hidden-count{% endif %}">{{ cart.item_count }}</span>
		            </a>
		            <div class="inner-cart-info">
		              {% include 'mini-cart' %}
		            </div>
					        
						</li>
					    {% endif %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>