<a  title="{{ shop.name }}" alt="{{ shop.name }}" href="/" class="jvlogo" rel="home">
	<span class="logo-table">
		<span class="logo-table-cell">
			<img src="{{ 'logo-2.png' | asset_url }}" alt="{{ shop.name }}" class="logo-img-1" >
			<img src="{{ 'logo-2-mobile.png' | asset_url }}" alt="{{ shop.name }}" class="logo-img-2" >
		</span>
	</span>
</a>
<div id="header">
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-sm-12 col-xs-12">
					<div class="logo logo-header">
						<a href="index.html"><h1><span class="lnr lnr-apartment"></span> BIGC</h1></a>
					</div>
				</div>
				<div class="col-md-8 col-sm-12 col-xs-12">
					<div class="main-nav">
						<ul class="main-menu">
							<li class="menu-item-has-childrent current-menu-item">
								<a href="index.html">Home</a>
								<ul class="sub-menu">
									<li><a href="home-1.html">Home 1</a></li>
									<li><a href="home-2.html">Home 2</a></li>
									<li><a href="home-3.html">Home 3</a></li>
									<li><a href="home-4.html">Home 4</a></li>
									<li><a href="home-5.html">Home 5</a></li>
									<li><a href="home-6.html">Home 6</a></li>
									<li><a href="home-7.html">Home 7</a></li>
								</ul>
							</li>
							<li class="menu-item-has-childrent">
								<a href="detail.html">featureds <sup class="title-hot">Hot</sup></a>
								<ul class="sub-menu sub-menu-col-2">
									<li><a href="accordions.html">Accordions</a></li>
									<li><a href="banners.html">Banners</a></li>
									<li><a href="banner-slider.html">Banner Slider</a></li>
									<li><a href="buttons.html">Buttons</a></li>
									<li><a href="chart-processbar.html">Chart&Processbar</a></li>
									<li><a href="feature-boxes.html">Featured Boxes</a></li>
									<li><a href="message-boxes.html">Message Boxes</a></li>
									<li><a href="post-slider.html">Post Slider</a></li>
									<li><a href="tabs-toggle.html">Tabs&Toggle</a></li>
									<li><a href="testimonial.html">Testimonial</a></li>
									<li><a href="heading-separator.html">Heading & Separator</a></li>
									<li><a href="teams.html">Teams</a></li>
								</ul>
							</li>
							<li class="menu-item-has-childrent">
								<a href="grid.html">Shop categories <sup class="title-new">New</sup></a>
								<ul class="sub-menu">
									<li><a href="list.html">furniture</a></li>
									<li class="menu-item-has-childrent">
										<a href="grid-mr.html">Decor</a>
										<ul class="sub-menu">
											<li><a href="detail.html">Detail</a></li>
											<li><a href="detail-mr.html">Detail Left</a></li>
											<li><a href="detail-ml.html">Detail Right</a></li>
											<li><a href="list-ml.html">List Right</a></li>
										</ul>
									</li>
									<li><a href="grid.html">lighting </a></li>
									<li><a href="list-mr.html">Bed & Bath</a></li>
								</ul>
							</li>
							<li class="menu-item-has-childrent">
								<a href="blog.html">Blog</a>
								<ul class="sub-menu">
									<li><a href="blog-ml.html">Blog Right</a></li>
									<li><a href="blog-mr.html">Blog Left</a></li>
									<li><a href="single.html">Single Post</a></li>
									<li><a href="single-gallery.html">Single Gallery</a></li>
									<li><a href="single-hotdeal.html">Single Hot Deal</a></li>
									<li><a href="single-image.html">Single Image</a></li>
									<li><a href="single-trending.html">Single Trending</a></li>
									<li><a href="single-video.html">Single Video</a></li>
								</ul>
							</li>
							<li><a href="about.html">About us</a></li>
							<li><a href="contact.html">Contact us</a></li>
						</ul>
						<div class="mobile-menu">
							<a href="#" class="show-menu"><span class="lnr lnr-indent-decrease"></span></a>
							<a href="#" class="hide-menu"><span class="lnr lnr-indent-increase"></span></a>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-12 col-xs-12">
					<div class="info-header">
						<ul class="info-total">
							<li class="info-search">
								<a href="#" class="info-icon icon-search"><span class="lnr lnr-magnifier"></span></a>
								<div class="search-form">
									<form>
										<div class="wrap-toggle-search">
											<div class="toggle-search-category">
												<a href="#" class="toggle-category"><span class="lnr lnr-chevron-down"></span></a>
												<ul class="select-category list-unstyled">
													<li><a href="#">Chair</a></li>
													<li><a href="#">Table</a></li>
													<li><a href="#">Furniter</a></li>
												</ul>
											</div>
											<input type="text" value="Product, brand..." onfocus="if (this.value==this.defaultValue) this.value = ''" onblur="if (this.value=='') this.value = this.defaultValue" />
										</div>
										<input class="btn-link-default" type="submit" value="Search" />
									</form>
								</div>
							</li>
							<li class="info-user">
								<a href="#" class="info-icon icon-user"><span class="lnr lnr-user"></span></a>
								<ul class="list-unstyled inner-user-info">
									<li><a href="#"><span class="lnr lnr-lock"></span> Login / Register</a></li>
									<li><a href="#"><span class="lnr lnr-heart"></span> Wishlist</a></li>
									<li><a href="#"><span class="lnr lnr-sync"></span> Compare</a></li>
									<li><a href="#"><span class="lnr lnr-exit"></span> Checkout</a></li>
								</ul>
							</li>
							<li class="info-cart">
								<a href="#" class="info-icon icon-cart"><span class="lnr lnr-cart"></span> <sup>0</sup></a>
								<div class="inner-cart-info">
									<h2>2 items</h2>
									<ul class="info-list-cart">
										<li class="item-info-cart">
											<div class="cart-thumb">
												<a href="#" class="cart-thumb">
													<img src="images/photos/png/1.png" alt="" />
												</a>
											</div>
											<div class="wrap-cart-title">
												<h3 class="cart-title"><a href="#">Birch Lane Merriweather</a></h3>
												<div class="cart-qty"><label>Qty:</label> <span>1</span></div>
											</div>
											<div class="wrap-cart-remove">
												<a href="#" class="remove-product"></a>
												<span class="cart-price">$49.99</span>
											</div>
										</li>
										<li class="item-info-cart">
											<div class="cart-thumb">
												<a href="#">
													<img src="images/photos/png/2.png" alt="" />
												</a>
											</div>
											<div class="wrap-cart-title">
												<h3 class="cart-title"><a href="#">Light Wall Sconce</a></h3>
												<div class="cart-qty"><label>Qty:</label> <span>1</span></div>
											</div>
											<div class="wrap-cart-remove">
												<a href="#" class="remove-product"></a>
												<span class="cart-price">$23.00</span>
											</div>
										</li>
									</ul>
									<div class="total-cart">
										<label>Subtotal</label> <span>$72.99</span>
									</div>
									<div class="link-cart">
										<a href="#" class="cart-edit">edit cart</a>
										<a href="#" class="cart-checkout">checkout</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>