{% for i in (1..12) %}
{% capture portfolio_title %}portfolio{{ i }}_title{% endcapture %}
{% capture portfolio_text %}portfolio{{ i }}_text{% endcapture %}
{% capture portfolio_link %}portfolio{{ i }}_link{% endcapture %}
{% capture portfolio_img %}portfolio-special-2-{{ i }}.jpg{% endcapture %}




{% if settings[portfolio_title] != blank %}

              <div class="grid-item portfolio-column col-lg-2 col-md-3 col-sm-4 col-xs-6">
                <div class="portfolio-item portfolio-item-2">

     <img src="{{ portfolio_img | asset_url }}"   alt="{{ settings[portfolio_title] }}" >


    
    
    
                  <div class="overlay">
                    <div class="cell-vertical-wrapper">
                      <div class="cell-middle overlay-content text-center">
                        <h5 class="heading-icon-1">{{ settings[portfolio_title] }}</h5>
                        <div class="font-serif caption">{{ settings[portfolio_text] }}</div>
                        <div class="group-link"><a href="{% if settings[portfolio_link] == blank %} http://themeforest.net/user/joomlavi/portfolio {% else %} {{ settings[portfolio_link] }} {% endif %}" class="icon-link"></a><a href="{{ portfolio_img | asset_url }}" class="zoom-link icon-outline-vector-icons-pack-67"></a></div>
                      </div>
                    </div>
                  </div>    
    
    

</div>
</div>

{% endif %}   
{% endfor %} 