
{% for i in (1..6) %}
{% capture tab_item_title %}tab_item_{{ i }}_title{% endcapture %}
{% capture tab_item_icon %}tab_item_{{ i }}_icon{% endcapture %}
{% capture tab_item_text %}tab_item_{{ i }}_text{% endcapture %}


{% if settings[tab_item_title] != blank %}
<div class="panel service-item">
  <div class="panel-heading"><a data-toggle="collapse" data-parent="#accordion-service-1" href="#service-item-1-{{ i }}" class="collapsed panel-title">
    <h5><i class=" {% if settings[tab_item_icon] == blank %}  icon-outline-vector-icons-pack-101 {% else %}    {{ settings[tab_item_icon] }} {% endif %}     "></i>{{ settings[tab_item_title] }}</h5></a></div>
  <div id="service-item-1-{{ i }}" class="panel-collapse collapse  {% if i == 1 %} in {% endif %}  ">
    <div class="panel-body">{{ settings[tab_item_text] }}</div>
  </div>
</div>
{% endif %}  


{% endfor %}