<!-- =TODO -->
{% if cart.item_count == 0 %}
<h2>{{ 'cart.general.empty' | t }}</h2>
<p>{{ 'cart.general.continue_browsing_html' | t }}</p>
{%else %}

<form action="/cart" method="post" class="cart-page-form" novalidate>
  <h2><span class="cart-count">{{ cart.item_count }}</span> {{ 'cart.general.items' | t }}</h2>
  <div class="shop-cart-list" data-line="{{ forloop.index }}">

    <ul class="info-list-cart">
      {% for item in cart.items %}
      <li class="item-info-cart">
        <div class="cart-thumb product-img">
          <a href="{{ item.url }}" class="cart-thumb cart-image"> 
            <img src="{{ item | img_url: 'medium' }}"  alt="{{ item.title | escape }}">
          </a>
        </div>	

        <div class="wrap-cart-title">
          <h3 class="cart-title"><a href="{{ item.url }}"> {{ item.product.title }} </a></h3>
          <div class="product-quantity cart-qty"><label>{{ 'cart.general.qty' | t }} :</label> <input type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0" data-line="{{ forloop.index }}"></div>
        </div>	
        <div class="wrap-cart-remove">
          <a  class="remove-product product-remove remove" href="/cart/change?line={{ forloop.index }}&amp;quantity=0" data-line="{{ forloop.index }}" > </a>
          <span class="cart-price">{% include 'price' with item.price %} </span>
        </div>	
      </li>
      {% endfor %} 

    </ul>

  </div>

  <div class="total-cart">
    <label>{{ 'cart.general.subtotal' | t }}</label> <span class="right">{% include 'price' with cart.total_price %}</span>
  </div>
  <div class="link-cart">
    <a href="/cart" class="cart-edit">edit cart</a>
    <button type="submit" name="checkout" class="cart-checkout"> {{ 'cart.general.checkout' | t }} </button>
  </div>
</form>

{% endif %}