{% unless grid_item_width %}
  {% assign grid_item_width = 'large--one-quarter medium-down--one-half' %}
{% endunless %}

{% unless current_collection %}
  {% assign current_collection = collection %}
{% endunless %}

{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available  %}
  {% assign sold_out = false %}
{% endif %}

{% comment %}
  Select the product image size from settings.
{% endcomment %}
{% assign image_size = settings.collection_prod_image_sizes %}


{% if settings.product_style_option == 'style-1' %} 
<div class="shop-product-item">
  <div class="content text-center">
    <div class="image"><img src="{{ product.featured_image.src | img_url: image_size }}" alt="{{ product.featured_image.alt | escape }}">
      <div class="overlay">
        <ul>
          <li>
            <a class="quick-view"  href="{{ product.url | within: current_collection }}"><i class="icon-search-icon"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="name"><a href="{{ product.url | within: current_collection }}" class="product-title">{{ product.title }}</a></div>
  </div>
</div>
{% else %} 



<div class="col-md-3 col-sm-6 shop-detail-relate-item-wrapper">
<div class="shop-detail-relate-item">
  <div class="image"><img src="{{ product.featured_image.src | img_url: image_size }}" alt="{{ product.featured_image.alt | escape }}">
    <div class="overlay">
      <ul>
        <li><a class="quick-view"  href="{{ product.url | within: current_collection }}"><i class="icon-search-icon"></i></a></li>
      </ul>
    </div>
  </div>
</div>
</div>
{% endif %}



