{% unless grid_item_width %}
  {% assign grid_item_width = 'large--one-quarter medium-down--one-half' %}
{% endunless %}

{% unless current_collection %}
  {% assign current_collection = collection %}
{% endunless %}

{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available  %}
  {% assign sold_out = false %}
{% endif %}

{% comment %}
  Select the product image size from settings.
{% endcomment %}
{% assign image_size = settings.collection_prod_image_sizes %}

<div class="masonry-post-index  standard  col-md-3 col-sm-4 col-xs-12 shop-product-2-wrapper  {{ grid_item_width }}{% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %}">
  <div class="shop-product-2">
    <div class="product-grid-item">
      <div class="product-grid-image image">
        <div class="product-grid-image--centered">

          
          {% if sold_out %}
          <div class="badge badge--sold-out saleoff"><span class="badge-label">{{ 'products.product.sold_out' | t }}</span></div>
          
          {% else %}
            {% if on_sale %}
            <span class="saleoff">-{{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | money_without_currency | times: 100 | remove: '.0'}}%</span>
            {% endif %}
          {% endif %}
          
          
          <a   href="{{ product.url | within: current_collection }}">
          {% if product.featured_image %}
          <img src="{{ product.featured_image.src | img_url: image_size }}" alt="{{ product.featured_image.alt | escape }}">
          {% else %}   
          <img src="{{ 'no_image.png' | asset_url }}" alt="{{ item.title }}">  
          {% endif %}  
          </a>

{% if settings.product_quickview_enable %}  
          
          <div class="overlay text-center">
            <ul>
              <li class="clearfix">
                <a class="quick-view"  href="{{ product.url | within: current_collection }}"><i class="icon-search-icon"></i></a>


                <form action="/cart/add" method="post" enctype="multipart/form-data" class="addToCartForm form-add-to-cart ">
                  <select name="id"  class="product-variants hidden">
                    {% for variant in product.variants %}
                    {% if variant.available %}

                    <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }}</option>

                    {% else %}
                    <option disabled="disabled">
                      {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                    </option>
                    {% endif %}
                    {% endfor %}
                  </select>

					

                  <button type="submit" name="add" class="btn addToCart">

                    <i class="icon-svg-icon-15"></i>
                    
                  </button>


                </form>

              </li>
            </ul>
          </div>    
{% endif %}            
        </div>
      </div>



      <div class="info">
        <a href="{{ product.url | within: current_collection }}" class="product-title">{{ product.title }}</a>

        <div class="product-item--price price">


          {% if on_sale %}
          <del class="sale-tag medium--right{% if settings.product_reviews_enable %} has-reviews{% endif %}">
            {% assign compare_price = product.compare_at_price %}
            {% assign product_price = product.price %}
            {% include 'price-sale' %}
          </del>
          {% endif %}
          <span class=" medium--left">
            {% include 'price' with product.price %}
          </span>      
        </div>

        {% if settings.product_reviews_enable %}
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        {% endif %}
      </div>



    </div>



  </div>
</div>



