<main class="main-content">

  {% if page.metafields.jvpage.breadcrumb != 'hide'  %}  

  {% include 'breadcrumb' %}

  {% endif %}  











  <section role="main" class="wrapper-content full-content  {% if page.metafields.jvpage.spaceContent == 'no'  %} no-padding  {% endif %}">
    <div class="container">




{% assign number_of_comments = article.comments_count %}

{% if comment and comment.created_at %}
  {% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}



<div class="row">

  <div class="col-md-9 col-md-offset-3  ">

      <div class="post-detail-01 style-02">

        
        
              {% if article.excerpt.size > 0 %}
              <div class="video-container">
                {{ article.excerpt }}
              </div>
              {% else %}
              {% if article.image %}
              {% assign image_alt = article.title | escape %}
              <div class="post-thumbnail">
                {{ article | img_url: '1024x1024' | img_tag: image_alt, 'article__image' | link_to: article.url }}
              </div>
              {% endif %}    
              {% endif %}  

<div class="title">
                  <h2>{{ article.title }}</h2>
                  <p> {{ 'blogs.article.postedby' | t }} {{ article.author }}  &nbsp;&nbsp;/&nbsp;&nbsp;<span><time pubdate datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time></span></p>
                </div>        

        <div class="content">
          {{ article.content }}
        </div>

        
        
        <div class="tag-share">


          {% include 'tags-article' %}

          {% if settings.social_sharing_blog %}
          <div class="share">
            <p>{{ 'blogs.article.share' | t }}</p>
            {% include 'social-sharing-ul' %}
          </div>
          {% endif %}
        </div>
<div class="separator-5"></div>

        {% if blog.next_article or blog.previous_article %}


        <p class="clearfix pt-25">
          {% if blog.previous_article %}
            <span class="pull-left">
              {{ 'blogs.article.older_post' | t | prepend: '← ' | link_to: blog.previous_article }}
            </span>
          {% endif %}
          {% if blog.next_article %}
            <span class="pull-right">
              {{ 'blogs.article.newer_post' | t | append: ' →' | link_to: blog.next_article }}
            </span>
          {% endif %}
        </p>
        {% endif %}


        {% if blog.comments_enabled? %}

<h4 class="text-center heading-bgc-gray"><a href="#write-comment">{{ 'blogs.comments.comments_with_count' | t: count: number_of_comments }}</a></h4>



          {% paginate article.comments by 5 %}

          <div id="comments" class="post-comments">

            {% if comment and comment.created_at %}
            <p class="note form-success">
              {% if blog.moderated? %}
                {{ 'blogs.comments.success_moderated' | t }}
              {% else %}
                {{ 'blogs.comments.success' | t }}
              {% endif %}
            </p>
            {% endif %}

            {% if number_of_comments > 0 %}
              <ul>
                {% if comment and comment.created_at %}
                <li id="{{ comment.id }}" class="comment big-comment first{% if article.comments_count == 0 %} last{% endif %}">

                  {% include 'comment' %}

                </li>
                {% endif %}

                {% for comment in article.comments %}
                <li id="{{ comment.id }}" class="big-comment comment{% unless number_of_comments > article.comments_count %}{% if forloop.first %} first{% endif %}{% endunless %}{% if forloop.last %} last {% endif %}">

                  {% include 'comment' %}

                </li>
                {% endfor %}

              </ul>


              {% if paginate.pages > 1 %}
              <div class="text-center">
                {% include 'pagination-custom' %}
              </div>
              {% endif %}

            {% endif %}

            <div id="write-comment">
              {% form 'new_comment', article %}


                {% include 'form-errors-custom' %}


              

<div class="post-comments-form">
                       
                        <div class="widget contact-us">
                          <form action="#">
                            <div class="row">
                              <div class="col-sm-6 col-xs-12">
                                <input {% if form.errors contains "author" %} class="error"{% endif %} type="text" name="comment[author]" placeholder="{{ 'blogs.comments.name' | t }}" id="comment-author" value="{{ form.author }}">
                              </div>
                              <div class="col-sm-6 col-xs-12">
                                <input {% if form.errors contains "email" %} class="error"{% endif %} type="email" name="comment[email]" placeholder="{{ 'blogs.comments.email' | t }}" id="comment-email" value="{{ form.email }}" autocorrect="off" autocapitalize="off">
                              </div>
                              <div class="col-xs-12">
                                <textarea {% if form.errors contains "body" %} class="error"{% endif %} name="comment[body]" id="comment-body" placeholder="{{ 'blogs.comments.message' | t }}">{{ form.body }}</textarea>
                              </div>
                            </div>
                          </form>
                        </div>
</div>              
              
              
              
<div class="text-right">
                {% if blog.moderated? %}
                  <p class="text-light"><em>{{ 'blogs.comments.moderated' | t }}</em></p>
                {% endif %}
                <input type="submit" class="normal-btn normal-btn-main btn-size-5" value="{{ 'blogs.comments.post' | t }}">
</div>                
              
              
                {% if form.errors %}
                  <script>
                    window.location.hash = '#add-comment-title';
                  </script>
                {% endif %}

                {% if form.posted_successfully? %}
                  <script>
                    window.location.hash = '#comments';
                  </script>
                {% endif %}

              {% endform %}
            </div>

          </div>

          {% endpaginate %}

        {% endif %}
      </div>

  </div>

  <aside class=" sidebar   col-md-3  col-md-jvoffset-12">
    {% include 'blog-sidebar' %}
  </aside>
</div>
      
      
          </div>  
  </section>

</main>  
