<main class="main-content margin0 page-aboutus">

  {% if page.metafields.jvpage.titlePage != 'hide'  %}  
  <div class="common-static-header">
    <div class="parallax-bg" data-stellar-background-ratio="0.25" 
         {% if settings.bg_page_about_enable %}    
         style="background-image:url({{ 'bg_page_about.jpg' | asset_url }})"         
         {% endif %}          
         ></div>
    <div class="container">
      <h1 ><span>{{ page.title }}</span></h1>
    </div>  
  </div>
  {% endif %}    
  <section class="no-padding">
    {% if settings.about_introduce_enable %} 
    <div class="page-about-header">
      <div class="container text-center">
        <h5 class="color-gray"> {{  settings.about_introduce_text_1 }} </h5>
        <h2> {{  settings.about_introduce_text_2 }}</h2>
      </div>
    </div>
    {% endif %} 
    {% if settings.about_about_enable %} 
    <div class="page-about about-about">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-5 col-xs-12 quote">
            <div class="page-about-item">
              <h4>{{  settings.about_about_title_1 }}</h4>
              <p>{{  settings.about_about_text_1 }}</p>
              <h5>- {{  settings.about_about_name_1 }} -</h5>
            </div>
          </div>
          <div class="col-md-8 col-sm-7 col-xs-12 pragraph">
            <div class="page-about-item">
              <h4>{{  settings.about_about_title_2 }}</h4>
              <p>{{  settings.about_about_text_2 }}</p>
              <h5></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %} 
  </section>
  {% if settings.about_services_enable %}   
  <section class="large-space">
    <header class="section-header header-type-2 style-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-xs-12">
            <h1>{{ settings.about_services_title }}</h1>
          </div>
          <div class="col-lg-9 col-md-8 col-xs-12">
            <q class="header-caption">{{ settings.about_services_text }}</q>
          </div>
        </div>
      </div>
    </header>

    {% if settings.about_services_tabs or  settings.about_services_img %} 
    <div class="service-section-02 section-block">
      <div class="container">
        <div class="row">
          {% if settings.about_services_img %}           
          <div class="col-lg-{% if settings.about_services_tabs %}6{% else %}12{% endif %}        text-center">
            <img src="{{ 'our-service-1.jpg' | asset_url }}" alt="image">
          </div>
          {% endif %}           
          {% if settings.about_services_tabs %} 
          <div class="col-lg-{% if settings.about_services_img %}6{% else %}12{% endif %}">
            <div id="accordion-service-1" class="panel-group">
              {% include 'jv-tabs' %}
            </div>
          </div>
          {% endif %} 
        </div>
      </div>
    </div>
    {% endif %} 
  </section>
  {% endif %}
  {% if settings.about_counter_enable %} 
  <section class="about-count">
    <div class="count-section-01">
      <div class="container remove-col-padding">
        <div class="counter-group">
          {% include 'jv-counter' %}
        </div>
      </div>
    </div>
  </section>
  {% endif %}   
  {% if settings.about_team_enable %}  
  <section>
    <header class="section-header header-type-2 style-1">
      <div class="container">
        <h4 class="heading-hr-1">{{  settings.about_team_title }}</h4>
        <q class="header-caption">{{  settings.about_team_text }}</q>
      </div>
    </header>
    {% if settings.about_team %} 
    <div class="team-section-01">
      <div class="container">
        <div class="row row-no-space">    
          {% include 'jv-team' %}
        </div>
      </div>
    </div>
    {% endif %} 

  </section>
  {% endif %}
  {% if settings.about_testimonials_enable %}  
  <section class="large-space">
    <div data-stellar-background-ratio="0.25" style="background-image: url('{{ 'testimonials.jpg' | asset_url }}');" class="parallax-bg quote-slider-parallax"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-xs-12 remove-col-padding-2 section-block">
          <div class="quote-slider-02 simple-slider dir-nav color-light">

            {% include 'jv-testimonials' %}
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  {% if settings.about_pricetable_enable %}  
  <section class="one-child">
    <header class="section-header header-type-2 style-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-xs-12">
            <h1>{{  settings.about_pricetable_title }}</h1>
          </div>
          <div class="col-lg-9 col-md-8 col-xs-12">
            <q class="header-caption">{{  settings.about_pricetable_text }}</q>
          </div>
        </div>
      </div>
    </header>
    {% if settings.about_pricetable %}  
    <div class="price-table">
      <div class="container remove-col-padding">
        <div class="row">

          {% include 'jv-pricetable' %}
        </div>
      </div>
    </div>
    {% endif %}
  </section>
  {% endif %}
  <section  class="one-child logo-partner">
    <div class="container">
      <div class="brand-carousel multi-slider">
        {% include 'jv-logopartner' %}
      </div>
    </div>
  </section>
</main>  

